body {
  background: rgb(255, 199, 0);
  text-align: center;
}

.side-bar {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, 1fr);
  align-content: center;
  align-items: center;
}

.side-bar img {
  height: 75px;
  width: 100px;
}

.side-bar img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.hide {
  display: none;
}

#text {
  position: absolute;
  align-self: auto;
  display: none;
  font-size: 50px;
  color: black;
  transform: translate(160%, -120%);
  -ms-transform: translate(160%, -120%);
}